{% extends "base_dt.html" %}
{% load static %}
<link href="{% static 'css/subjects_app/subjects.css' %}" rel="stylesheet">
<link href="{% static 'DataTables/DataTables-1.10.25/css/jquery.dataTables.min.css' %}">
<link href="{% static 'DataTables/Buttons-1.7.1/css/buttons.dataTables.min.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% block title %} Measurements Data {% endblock %}
{% block content %}
    <h1 style="color: white;">
        Measurements DataTable LOB
    </h1>

    <a class="font-weight-bold mb-sm-2 ml-sm-3 btn btn-sm float-left" style="width:fit-content; text-align:center;  display: inline-block; font-family: Arial ;font-size: 12px; text-transform: uppercase; font-weight: bold; background-color: #ffbb33; color: black; padding: 5px 5px; height: 30px;" href="{% url 'measurements' %}" role="button">
        <span style="font-size:smaller;">
            New Record
        </span>
    </a>

    <div class="container-fluid">
        <table id="measurements_table" class="table-dark table-bordered table-hover dt-responsive nowrap" width="100%"  >
            <thead>
                <tr>
                    <th>id</th>
                    <th>subjects</th>
                    <th>local</th>
                    <th>date</th>
                    <th>project</th>
                    <th>file</th>
                    <th>incidents</th>
                    <th>observations</th>
                    <th>FPIC assignement</th>
                    <th>auth user</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for measurements in measurement_data %}
                    <tr>
                        <td>{{measurements.id}}</td>
                        <td>{{measurements.subjects_id}}</td>
                        <td>{{measurements.local}}</td>
                        <td>{{measurements.date}}</td>
                        <td>{{measurements.project_id}}</td>
                        <td><a href=" " download="{{measurements.file_name}}" > {{measurements.file_name}} </a> </td>
                        <td>{{measurements.incidents}}</td>
                        <td>{{measurements.observations}}</td>
                        <td>{{measurements.FPIC_assignement}}</td>
                        <td>{{measurements.auth_user_id}}</td>
                        <td>

                                <a href="" style="background-color:transparent; text-decoration: none">
                                    <svg style="color: #4a92ff" xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>

                                <a href="" style="background-color:transparent">
                                    <svg style="color: #fa0f0f" xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                </a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Responsive-2.2.9/js/dataTables.responsive.js' %}" ></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Responsive-2.2.9/js/responsive.bootstrap4.js' %}" ></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Buttons-1.7.1/js/buttons.bootstrap.min.js' %}" ></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/jQuery-3.3.1/jquery-3.3.1.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/DataTables-1.10.25/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Buttons-1.7.1/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Buttons-1.7.1/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Buttons-1.7.1/js/buttons.print.min.js' %}"></script>

{% block js %}
<script>
$(document).ready(function() {
    $('#measurements_table').DataTable( {
        dom: 'Blfrtip',
        buttons: [
            'copy', 'csv', 'excel',
        ],
        "pagingType": "simple_numbers",
        "lengthMenu": [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"] ],
        language: { search: '', searchPlaceholder: "Search..." },

    } );
} );

</script>

{% endblock js %}

