<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}


    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/login_app/login3.css' %}" rel="stylesheet">

</head>
<body>

<div class='text-center'>
    <h2>Você efetuou o logout com sucesso.</h2>
</div>

    <!-- Bootstrap -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

{{ log_out }}

</body>
</html>