<!doctype html>
<html lang="en">

{% load static %}

  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'css/appcenter/appcenter.css' %}" rel="stylesheet">
      <link href="{% static 'css/login_app/logout.css' %}" rel="stylesheet">
      <link href="{% static 'css/appcenter/appcenter.css' %}" rel="stylesheet">

  </head>

  <body class="text-center">
  {% if request.user.is_authenticated %}

  <div id="logout">
    <span style="width:90%; text-align:right;  display: inline-block;">
        <a href="{% url 'logout' %}">Logout</a>
    </span>
  </div>
<!--        <div class='text-center'>-->
<!--            <a class="nav-link" href="{% url 'logout' %}">Logout</a>-->
<!--        </div>-->

    <section id="team" class="pb-5">
      <div class="container">
          <h3 style="margin-bottom: 25px; text-align: center; color: white; font-size: 40px;">LOB CENTER</h3>
          <div class="row">
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'img/appcenter/curriculum.png' %}" alt="card image"></p>
                                    <h4 class="card-title">Subjects</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a class="btn btn-primary btn-sm" href="{% url 'subjects' %}"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Subjects</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a href="{% url 'subjects' %}"><button type="button" class="btn btn-primary">
                                    Enter</button></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'img/appcenter/computer.png' %}" alt="card image"></p>
                                    <h4 class="card-title">Measurements</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Measurements</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.google.com"><button type="button" class="btn btn-primary">
                                    Enter</button></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member --> 
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'img/appcenter/project.png' %}" alt="card image"></p>
                                    <h4 class="card-title">Projects</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Projects</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.google.com"><button type="button" class="btn btn-primary">
                                    Enter</button></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'img/appcenter/view.png' %}" alt="card image"></p>
                                    <h4 class="card-title">View Data</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">View Data</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.google.com"><button type="button" class="btn btn-primary">
                                    Enter</button></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->    
              <!-- Team member -->
              <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{% static 'img/appcenter/monitoring1.png' %}" alt="card image"></p>
                                    <h4 class="card-title">Analysis</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Analysis</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <a href="https://www.google.com"><button type="button" class="btn btn-primary">
                                    Enter</button></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->          
          </div>
      </div>
  </section>


<!-- Footer -->
    <footer class="footer text-faded text-center py-5", style="background-color: #F9C70C;">
      <div class="container">
        <p class="m-0 mbt1">&copy; LOB Unicamp 2021</p>
      </div>
	</footer>


    {% endif %}
  </body>
</html>