{% extends "appcenter/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProjetowebApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Pontualidade</span>
            <span class="section-heading-lower">O melhor estoque</span>
          </h2>
          <p class="mb-3">Na porta da sua casa em menos de 48 h com o envio normal. Em menos de 24 h com o envio express.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromisso total</span>
                <span class="section-heading-lower">Garantido</span>
              </h2>
              <p class="mb-0">Com mais de 75 anos de experiencia, desde Gestão de Pedidos temos os conhecimentos e ferramentas necessários para levar qualquer objeto à porta de sua casa com pontualidade e profissionalismo.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
   