<!doctype html>
<html lang="en">

{% load static %}

    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="{% static 'css/appcenter/appcenter.css' %}" rel="stylesheet">
        <link href="{% static 'css/login_app/logout.css' %}" rel="stylesheet">

    </head>

    <body class="text-center">
        {% if request.user.is_authenticated %}

    <!--        <div class='text-center'>-->
    <!--            <a class="nav-link" href="{% url 'logout' %}">Logout</a>-->
    <!--        </div>-->

        <div class="team">
            <header>
                <div style="height: 60px;">
                    <img  style="float: left; padding-left: 8px; padding-top: 8px; padding-bottom: 8px;" width="5%" src="{% static 'img/LOGO_UNICAMP.png' %}" alt="...">
                    <img style="float: left; padding-left: 8px; padding-top: 8px; padding-bottom: 8px;" width="11%" src="{% static 'img/LOB_branco2.png' %}" alt="...">
                    <a style="float: right; background-color:transparent; padding-left: 8px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px;" href="{% url 'logout' %}" data-tip2="Logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16" style="color:white">
                        <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                        <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                    </svg>
                    </a>
                    <a href="{% url 'appcenter' %}" data-tip2="Home" style="float: right; background-color:transparent; padding-left: 8px; padding-right: 5px; padding-top: 8px; padding-bottom: 8px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16" style="color:white">
                            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg>
                        </a>
                    <a href="" style="float: right; text-align:right; display: inline-block; font-weight: 150; color:white; background-color:transparent; text-decoration: none; padding-left: 8px; padding-right: 12px; padding-top: 8px; padding-bottom: 8px;">
                        Welcome, <strong>{{ request.user.username }}</strong>
                    </a>

                </div>
            </header>

            <div class="container">
                <h3 style="margin-bottom: 25px; text-align: center; color: white; font-size: 40px;">DATA CENTER</h3>
                <div class="row">
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" >
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="{% static 'img/datacenter/id-card.png' %}" alt="card image"></p>
                                            <h4 class="card-title">Subjects</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                            <a class="btn btn-primary btn-sm" href="{% url 'subject_datatable' %}"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Subjects</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                            <a href="{% url 'subject_datatable' %}"><button type="button" class="btn btn-primary">
                                            Enter</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
            
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" >
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="{% static 'img/datacenter/computer.png' %}" alt="card image"></p>
                                            <h4 class="card-title">Measurements</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                            <a href="{% url 'measurement_datatable' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Measurements</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                            <a href="{% url 'measurement_datatable' %}"><button type="button" class="btn btn-primary">
                                            Enter</button></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="image-flip" >
                            <div class="mainflip flip-0">
                                <div class="frontside">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <p><img class=" img-fluid" src="{% static 'img/datacenter/thought.png' %}" alt="card image"></p>
                                            <h4 class="card-title">Projects</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                            <a href="{% url 'projects_datatable' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="backside">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4 class="card-title">Projects</h4>
                                            <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                            <a href="{% url 'projects_datatable' %}"><button type="button" class="btn btn-primary">
                                            Enter</button></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Team member -->
                </div>
            </div>
        </div>


        <!-- Footer -->
        <footer class="footer text-faded text-center py-5">
            <div class="container">
                <p class="m-0 mbt1" style="color: black">&copy; LOB Unicamp 2021</p>
            </div>
        </footer>


        {% endif %}
    </body>
</html>