<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
<!--    CSS DO FOOTER-->
    <link href="{% static 'css/login_app/logout.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body>

<div class="main">

    <div id="logout">
        <span style="width:10%">
            <a style="width:100%" href="{% url 'logout' %}">Logout</a>
        </span>
    </div>

{% block content %}


{% endblock %}
</div>


<!-- Footer -->
    <footer class="footer text-faded text-center py-5"; style="background-color: #F9C70C;">
        <p class="m-0 mbt1">&copy; LOB Unicamp 2021</p>
	</footer>


    <!-- Bootstrap -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>



<!--Paletas de cores do site:-->
<!--Fundo de azul : Codigo #203354-->
<!--Elementos do site de amarelo: Codigo #F9C70C-->