{% extends "base.html" %}
{% load static %}
<link href="{% static 'css/subjects_app/subjects.css' %}" rel="stylesheet">

{% block content %}
<div class="container">
    <div class="col-md-5">
        <div id="formularios">
            <form role="form" action="." method="POST">
                {% csrf_token %}
                        <h3 style="margin-bottom: 25px;margin-top:5px text-align: center; color: white; font-size: 40px;">MEDICAL RECORD</h3>
                                 <div class="input-group mb-3" data-tip="Choose the subject">
                                    <div class="input-group-prepend">
                                         <label class="input-group-text" for="id_subjects_id">Subject:</label>
                                    </div>
                                    <div class="custom-select" name="diseases_id" id="id_diseases_id">
                                        {{ form_medical_records.subjects_id }}
                                    </div>
                                </div>

                                <div class="input-group mb-3" data-tip="Type the HC number">
                                    <div class="input-group-prepend">
                                         <label class="input-group-text" for="id_HC_number">HC number:</label>
                                    </div>
                                    <input class="form-control" type="number" name="HC_number" id="id_HC_number">
                                </div>

                                <div class="input-group mb-3" data-tip="Choose the diseases">
                                    <div class="input-group-prepend">
                                         <label class="input-group-text" for="id_diseases_id">Diseases:</label>
                                    </div>
                                    <div class="custom-select" name="diseases_id" id="id_diseases_id" required="">
                                        {{ form_medical_records.diseases_id }}
                                    </div>
                                </div>

<!--                                {% for p in diseases %}-->
<!--                                {{ p.name }}-->
<!--                                            {% for pub in p.Medical_Record_set.all %}-->
<!--                                            {{ pub.name }}-->
<!--                                            {% endfor %}-->
<!--                                {% endfor %}-->

                                <div class="input-group mb-3" data-tip="Choose the comorbidities">
                                    <div class="input-group-prepend">
                                         <label class="input-group-text" for="id_comorbidities_ids">Comorbidities:</label>
                                    </div>
                                    <div class="custom-select" name="comorbidities_ids" id="id_comorbidities_ids" multiple="multiple">
                                        {{ form_medical_records.comorbidities_ids }}
                                    </div>
                                </div>
                                {% for p in comorbidities %}
                                    {{ p.name }}
                                        {% for pub in p.medical_record_set.all %}
                                        {{ pub.comorbidities_ids }}
                                        {% endfor %}
                                {% endfor %}
<!--                                <div class="input-group mb-3">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                         <label class="input-group-text" for="id_comorbidities_ids">Comorbidities:</label>-->
<!--                                    </div>-->
<!--                                         {{form_medical_records.comorbidities_ids}}-->
<!--                                </div>-->

<!--                                <div class="input-group mb-3">-->
<!--                                    <div class="input-group-prepend">-->
<!--                                         <label class="input-group-text" for="id_comorbidities_ids">Comorbidities:</label>-->
<!--                                    </div>-->
<!--                                    <div class="custom-select" name="comorbidities_ids" required="" id="id_comorbidities_ids" multiple="multiple">-->
<!--                                        {{ form_medical_records.comorbidities_ids }}-->
<!--                                    </div>-->

<!--                                </div>-->

<!--                                <p>{{ form_medical_records.comorbidities_ids }}</p>-->

                                <div class="input-group mb-3" data-tip="Report the surgery patient: name and date">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="id_surgery">Surgery:</label>
                                    </div>
                                    <textarea class="form-control" name="surgery" cols="40" rows="10" maxlength="200" id="id_surgery" style="margin-top: 0px; margin-bottom: 0px; height: 133px;"></textarea>
                                </div>

                                <div class="input-group mb-3" data-tip="Report the clinical outcomes">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="id_clinical_outcomes">Clinical outcomes:</label>
                                    </div>
                                    <textarea class="form-control" name="clinical_outcomes" cols="40" rows="10" maxlength="200" id="id_clinical_outcomes" style="margin-top: 0px; margin-bottom: 0px; height: 133px;"></textarea>
                                </div>


                <span style="width:90%; text-align:right;  display: inline-block;"><input type="submit" value="Submit"></span>

            </form>
            <br style="clear:both">
        </div>
    </div>
</div>


{% endblock %}