{% extends "base.html" %}
{% load static %}
<link href="{% static 'css/subjects_app/subjects.css' %}" rel="stylesheet">
{% block title %} Subjects {% endblock %}
{% block content %}
<a class="btn btn-warning float-left" href="{% url 'subjects' %}" role="button">Add New Record</a>
<div class="table-responsive">
    <table id="subject_table" class="table" >
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>birth date</th>
        <th>gender</th>
        <th>condition</th>
        <th>height</th>
        <th>weight</th>
        <th>skin color</th>
        <th>handedness</th>
        <th>scholar level</th>
        <th>telephone</th>
        <th>email</th>
        <th>additional info</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
        <tbody>
            {% for subject in subject_data %}
                <tr>
                    <td>{{subject.id}}</td>
                    <td>{{subject.name}}</td>
                    <td>{{subject.birth_date}}</td>
                    <td>{{subject.gender}}</td>
                    <td>{{subject.condition}}</td>
                    <td>{{subject.height}}</td>
                    <td>{{subject.weight}}</td>
                    <td>{{subject.skin_color}}</td>
                    <td>{{subject.handedness}}</td>
                    <td>{{subject.scholar_level}}</td>
                    <td>{{subject.telephone}}</td>
                    <td>{{subject.email}}</td>
                    <td>{{subject.additional_info}}</td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Edit"><a href="/edit/{{ employee.id }}" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a></p></td>
                    <td><p data-placement="top" data-toggle="tooltip" title="Delete"><a href="/delete/{{ employee.id }}" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></a></p></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}

{% block js %}
    <script>
        $(document).ready( function () {
            $('#subject_table').DataTable();
         } );
    </script>
{% endblock js %}

