{% extends "base.html" %}
{% load static %}
<link href="{% static 'css/subjects_app/subjects.css' %}" rel="stylesheet">
<link href="{% static 'DataTables/DataTables-1.10.25/css/jquery.dataTables.min.css' %}">
<link href="{% static 'DataTables/Buttons-1.7.1/css/buttons.dataTables.min.css' %}">
{% block title %} Subjects {% endblock %}
{% block content %}

<a class="font-weight-bold mb-sm-2 ml-sm-3 btn btn-warning btn-sm float-left"
   href="{% url 'subjects' %}" role="button"><span style="font-size:smaller;"> Add New Record</span></a>
<div class="container-fluid">
    <table id="subject_table" class="table-dark table-bordered table-hover dt-responsive nowrap" width="100%"  >
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>birth date</th>
        <th>gender</th>
        <th>condition</th>
        <th>height</th>
        <th>weight</th>
        <th>skin color</th>
        <th>handedness</th>
        <th>scholar level</th>
        <th>telephone</th>
        <th>email</th>
        <th>additional info</th>
        <th>Actions</th>

    </tr>
    </thead>
        <tbody>
            {% for subject in subject_data %}
                <tr>
                    <td>{{subject.id}}</td>
                    <td>{{subject.name}}</td>
                    <td>{{subject.birth_date}}</td>
                    <td>{{subject.gender}}</td>
                    <td>{{subject.condition}}</td>
                    <td>{{subject.height}}</td>
                    <td>{{subject.weight}}</td>
                    <td>{{subject.skin_color}}</td>
                    <td>{{subject.handedness}}</td>
                    <td>{{subject.scholar_level}}</td>
                    <td>{{subject.telephone}}</td>
                    <td>{{subject.email}}</td>
                    <td>{{subject.additional_info}}</td>
                    <td> <p><a href="" class="btn btn-primary btn-xs" data-title="Edit" data-target="#edit" ></a>
                        <a href="" class="btn btn-danger btn-xs" data-title="Delete" data-target="#delete" ><span ></span></a></p></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}

<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Responsive-2.2.9/js/dataTables.responsive.js' %}" ></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Responsive-2.2.9/js/responsive.bootstrap4.js' %}" ></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Buttons-1.7.1/js/buttons.bootstrap.min.js' %}" ></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/jQuery-3.3.1/jquery-3.3.1.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/DataTables-1.10.25/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Buttons-1.7.1/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Buttons-1.7.1/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" charset="utf8"  src="{% static 'DataTables/Buttons-1.7.1/js/buttons.print.min.js' %}"></script>

{% block js %}
<script>
$(document).ready(function() {
    $('#subject_table').DataTable( {
        dom: 'Blfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        "pagingType": "simple_numbers",
        "lengthMenu": [ [5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"] ],
        language: { search: '', searchPlaceholder: "Search..." },

    } );
} );

</script>

{% endblock js %}

